:host {
    background: white;
    display: block;
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: 1rem;

    dialog {
        margin: auto auto;
        border:none;
        padding: 0.25rem;
        position: relative;
        --offset: 0.5rem;
        background: transparent;
        backdrop-filter: blur(30px);
        z-index: 1;
        text-align: center;

        div {
            padding: 2rem;
            background: rgba(255, 255, 255, 0.9);
            --offset: 0.5rem;
            clip-path: polygon(var(--offset) 0, 100% 0, 100% calc(100% - var(--offset)), calc(100% - var(--offset)) 100%, 0 100%, 0 var(--offset) );
        }

        h3 {
            margin-block-start: 1rem;
        }

        &::before {
            content: '';
            position:absolute;
            background: rgba(16, 0, 238, 0.2);
            inset: 0 0 0 0;
            --offset: 0.5rem;
            clip-path: polygon(var(--offset) 0, 100% 0, 100% calc(100% - var(--offset)), calc(100% - var(--offset)) 100%, 0 100%, 0 var(--offset) );
            z-index: -1;
        }

        .close {
            padding: 0.25rem 0.5rem;
            border:none;
            --offset: 0.5rem;
            clip-path: polygon(var(--offset) 0, 100% 0, 100% calc(100% - var(--offset)), calc(100% - var(--offset)) 100%, 0 100%, 0 var(--offset) );
            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
            background: rgb(204, 0, 0);
            color: white;
            
            &:hover {
                background: rgb(226, 0, 0);
                color: white;
            }
        }

        button {
            background: #e0e0e0;
            padding: 0.25rem 0.5rem;
            border: none;
            --offset: 0.5rem;
            clip-path: polygon(var(--offset) 0, 100% 0, 100% calc(100% - var(--offset)), calc(100% - var(--offset)) 100%, 0 100%, 0 var(--offset) );

            &:not(.close) {
                width: 100%;
                margin-block-start: 1rem;
            }

            &:active {
                background: #ececec;
            }
        }
    }
}