<main class="main">
  <h1>{{ title }}</h1>
  
  <button (click)="generateNewGun()">Generate!</button>
  <br><br>
  <label for="level">Level</label>
  <input id="level" type="number" min="1" max="30" [defaultValue]="1" #level />

  <form [formGroup]="gunForm" (ngSubmit)="onSubmit()" *ngIf="gunTypeRoll === 8 || (gunTypeRoll === 7 && gunGuildRoll === 8)">
    <p>Select Favored Gun </p>
    <label for="type">Type</label>
    <select id="type" #type formControlName="type">
      <option value="Pistol">Pistol</option>
      <option value="Submachine Gun">Submachine Gun</option>
      <option value="Shotgun">Shotgun</option>
      <option value="Combat Rifle">Combat Rifle</option>
      <option value="Sniper Rifle">Sniper Rifle</option>
      <option value="Rocket Launcher">Rocket Launcher</option>
    </select>
    <label for="guild">Guild</label>
    <select id="guild" #guild formControlName="guild">
      <option value="Alas!">Alas!</option>
      <option value="Skuldugger">Skuldugger</option>
      <option value="Dahlia">Dahlia</option>
      <option value="Blackpowder">Blackpowder</option>
      <option value="Malefactor">Malefactor</option>
      <option value="Hyperius">Hyperius</option>
      <option value="Feriore">Feriore</option>
      <option value="Torgue">Torgue</option>
      <option value="Stoker">Stoker</option>
    </select>
    <button type="submit">Submit</button>
  </form>
  <p *ngIf="!!level && !!gunRarity && !!gunGuild && !!gunType">{{ level.value }} {{ gunRarity !== 'legendary' ? gunPrefix : '' }} {{ gunRarity | titlecase }} {{ gunGuild }} {{ gunType }}</p>

</main>

<app-gun-card [level]="getLevel(level.value)" [type]="gunType" [guild]="gunGuild" [rarity]="gunRarity" [element]="gunElement" [prefix]="gunPrefix"></app-gun-card>

<router-outlet></router-outlet>
